<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Rest of markup -->
  <div id="txt">
  </div>
  <button id="btn-submit">Submit</button>

  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script>
    const socket = io()
    const txtChat = document.getElementById("txt")

    socket.on('news', (data) => {
      console.log(data)
      const a = `<label>${data.username}</label>`
      txtChat.innerHTML = a
    })

    const btnSubmit = document.getElementById("btn-submit")

    btnSubmit.addEventListener("click", function () {
      socket.emit('my other event', { my: 'data' })
    })
  </script>
</body>

</html>